<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t('welcome_to_the') %> Kontakt</h1>

    <h2>
      <%= raw t('welcome_text') %>
    </h2>
    <%= link_to t('sign_up_here'), signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("http://a1.dspnimg.com/data/l/5986954294_mWdSPOnQ_l.jpg", alt: "asi=egzamin logo") %>
<% end %>
