<table class="table table-bordered">
  <thead>
  <tr>
    <th><%= t('name') %> </th>
    <th>Email</th>
    <th><%= t('phone_number') %> </th>
    <th><%= t('options') %> </th>
  </tr>
  </thead>

  <tbody>
  <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone_number %></td>
        <td>
            <%= link_to t('show'), contact, :class => 'btn btn-default' %>
            <%= link_to t('edit'), edit_contact_path(contact), :class => 'btn btn-default' %>
            <% if @sms_config and contact.phone_number %>
              <%= link_to t('send_sms'), send_sms_contact_path(contact), :class => 'btn btn-default' %>
            <% end %>
            <% if contact.email %>
              <%= link_to t('send_email'), create_email_contact_path(contact), :class => 'btn btn-default' %>
            <% end %>
            <%= link_to t('export_vcard'), export_contacts_path(contact), :class => 'btn btn-default' %>
            <%= link_to t('destroy'), contact, :class => 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
