<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @sms_config.email %>
</p>

<p>
  <strong><%= t('device') %>:</strong>
  <%= @sms_config.device %>
</p>

<%= link_to t('edit'), edit_sms_config_path(@sms_config) %> |
